{% extends 'base.html' %}

{% block content %}
<p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
<h3>Características:</h3>
<ul>
    {%if pokemon.picture %}
    <img style="border: 5px solid; color: cadetblue;" src="{{ pokemon.picture.url }}" width="300" height="300"  alt="{{ pokemon.name }}">
    {% endif %}
    <li> Tipo: {{pokemon.type}}</li>
    <li> Peso: {{pokemon.weight}}</li>
    <li> Altura: {{pokemon.height}}</li>
    <li> Entrenador: {{pokemon.trainer}}</li>
</ul>
</ul>
<a href="{% url 'pokedex:index' %}" class="btn btn-secondary">Regresar</a>
{% endblock content %}